* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1F1F1F;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: monospace;
  color: #ffd900;
}